@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

html,
body,
#app {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow-x: hidden;
}

footer {
  text-align: center;
}

footer a {
  color: aqua;
  transition: 1s;
}

footer a:hover {
  color: black;
  text-shadow: 0 0 2px aqua, 0 0 4px aqua, 0 0 8px aqua, 0 0 10px aqua,
    0 0 20px aqua;
  transform: scale(1.1);
}

ul li {
  list-style: none;
}

button,
input,
textarea,
a {
  outline: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

button,
a,
label,
select,
option {
  cursor: pointer;
}

a {
  text-decoration: none;
}
