body {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body header * {
  text-align: center;
}

body main {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

body main div.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px 10px;
}

body main div.board button {
  width: 100px;
  height: 100px;
}
